
          
 h1 {
     color:#db00c9;
     margin-left:20px ;
    }

 h2{
     color:#ff5100ee;
     margin-left: 30px;
     
    }

h3{
    background-color: #4ee9f1;
    display:flex;
    justify-content:space-around;
    padding:5px;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    color:#db00c9;
    border:2px solid #4ee9f1;
    border-radius:10px;
}
 

 p{
font-size:150%;
color:black;
text-align:center;
}

.header{
    background-color: #4ee9f1;
    display:flex;
    justify-content: space-between;
    padding:5px;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 400;
    color:ffffff;
    border:2px solid #4ee9f1;
    border-radius:10px;
    
}

.intro{
    background-color: #ff8cf5;
    font-family: cursive;
    border:2px solid #ff8cf5;
    border-radius:50px;
}

.origami{
   
    background-color:#bbfcff;
    border:2px solid #bbfcff;
    border-radius:50px;
    padding:30px;
    margin:25px;
    width:310px;
    font-family:sans-serif;
    
}

body{
    background-color:#ffc6ff;
}

.grid img{
    border:2px solid #000000;
    border-radius:50px;
}

.grid{
    display:flex;
    justify-content:space-evenly;
    border:2px solid #dc00e4;
    border-radius:30px;
    background-color: #dc00e4;
}

.menu{
    margin-right: 20px;
       padding-top: 10px;
}

a:link{
    color:#ffffff;
}

a:visited{
    color:#ffffff;
}

.origami p{
    position: absolute;
    top: 50%;
    left :10%;
    transform:translate(-25%,-80%);
    font-size: 35px;
    color:#ff1313;
   opacity:0;
}

.origami p1{
    position: absolute;
    top: 50%;
    left :35%;
    transform:translate(-20%,10%);
    font-size: 35px;
    color:#ff1313;
    opacity: 0;
   
}

.origami p2{
    position: absolute;
    top: 50%;
    left :60%;
    transform:translate(-20%,1%);
    font-size: 35px;
    color:#ff1313;
    opacity: 0;
}

.origami p3{
    position: absolute;
    top: 50%;
    left :85%;
    transform:translate(-30%,1%);
    font-size: 35px;
    color:#ff1313;
    opacity: 0;
}

.origami:hover p{
    opacity:1;
}

.origami:hover p1{
    opacity:1;
}

.origami:hover p2{
    opacity:1;
}

.origami:hover p3{
    opacity:1;
}

.origami:hover img{
    transform: scale(1.2);
    opacity:0.5;
}


   